<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Ending</title>
</head>
<body>
    <section class="main" id="main">

        <p class="end-text">
            Mange tak for at du valgte at deltage i dette undersøgelse!
        </p>
        {% if condition==1 %}
        <div class="instructions">
            <p>
                Det tilfældigt udvalgte udsagn som du kan dele på dit valgte sociale medie er:
            </p>
            <article class="article-xp">
                <header class="header-quest">
                    <p class="claim">{{ argument[0][0] }}</p>
                </header>
                <p class="argument">{{ argument[0][1] }}</p>
            </article>
            <p>
                Hvis du stadig ønsker at dele dette udsagn, så er du velkommen til at gøre dette, når undersøgelsen er overstået
            </p>
            <p>
                Det er ikke påkrævet at dele dit udsagn, og du kan bare ignorere denne instruktion, hvis du ikke længere ønsker at dele dit udsagn på dit sociale medie
            </p>
        </div>
        {% endif %}
        <p class="end-text">
            Du kan nu trykke på "W"-knappen på computeren for at afslutte forsøget og derefter ringe efter forskeren ved brug af klokken for at få en afrapportering
        </p>
    </section>
</body>
</html>